.table
  position: relative
  height: 100%
  display: -webkit-flex
  -webkit-flex-flow: column nowrap
  justify-content: flex-end
  align-items: center

.table
  max-height 40vh
.table div
  padding: 20px 0
  max-height 7vh
  text-align: center
  background: #dedede
  margin: auto
  margin-left 0px
.item1
  width 45vw
.item2
  width 37vw
.item3
  width 15vw
.item4
  width 11vw
.voteResultAsk
  margin-top 15%
  float center
  text-align center
