.voteScreenFull
  display: -webkit-flex
  -webkit-flex-direction:  column
  -webkit-flex-flow: column nowrap
  -webkit-justify-content: center
  -webkit-align-items: center
  width: 100vw
  height: 80vh
  h3
    font-size 2em
.closePanel
  display: -webkit-flex
  width 100vw
  height 20vh
  position fixed
  img
    width 10vw
    height 10vw
